/* ==UserStyle==
@name           Show full tags in kanban view
@namespace      github.com/0nehand/CustomCSS/monday.com/
@version        1.0.0
@description    Show full tags in kanban view
@author         John Rawls
==/UserStyle== */

@-moz-document domain("monday.com") {
    
    .tag-component.prevent-open-dialog {
        display: block;
        float: left;
    }
    .cell-component.tag-cell.col-identifier-labels {
        float: left;
    }
    .add-hint-component.add-button {
        float: left;
    }
    .tags-cell-component.interactive.can-edit {
        display: block;
    }
    .tags-cell-component.interactive.can-edit:hover {
        padding-left: 5px;
    }
}
